// Functions

@function rem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}


// Mixins

// Just regular re-usable css
.push-right {
	float: right;
}

.push-right-spaced {
	float: right;
	margin-left: rem(20px);
}

.push-left {
	float: left;
}